header {
  margin-top: 2.9rem;
  //background-color: red;
  height: 4.5rem;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}