@use "variables.scss" as *;

header {
  margin-top: $margin-top;
  margin-inline: auto;

  .logo img {
    width: $logo-width;
    display: block;
    margin-inline: auto;
  }

  @media (max-width: 1920px) {
  }

  @media (max-width: 960px) {
  }
}
