@use "variables.scss" as *;


.home-section {
  // max-width: $max-width-default;
  margin-inline: auto;

  @media (max-width: 1920px) {
    max-width: $max-width-1920;
  }

  @media (max-width: 960px) {
    max-width: $max-width-960;
  }

  @if  $debug {
    border: $border-debug-red;
  }
}

.home-section img {
  @each $prop, $value in $img-home {
    #{$prop}: #{$value};
  }
}

