body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: light-grey;
}

main {
  // background-color: orange;
  margin-top: 4.4rem;
  padding-inline: clamp(1rem, 8vw, 6rem); 
  max-width: 100%;
}

main img {
  width: 100%;
  max-width: 840px;
  height: auto;
  display: block;
  margin-inline: auto;
}
