body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: light-grey;

}

main {
  margin: 5.1rem 28rem 28rem;
  background-color: orange;
  color: black;
  height: 1540px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}