@use "variables.scss" as *;

.menu {
  margin-top: $margin-top;
  width: 100%;
  backdrop-filter: blur($blur-menu);
  display: flex;
  justify-content: center;
  margin-bottom: $margin-bottom;

  a {
    @each $prop, $value in $text-menu {
      #{$prop}: #{$value};
    }
  }

  a:hover {
    color: $menu-a-hover-color;
    transform: scale(1.1);
  }

  @media (max-width: 1920px) {
  }

  @media (max-width: 960px) {
  }
}
