@use 'variables' as *;

.horizontal-scroll {
  display: flex;
  gap: $spacing-lg;
  overflow-x: auto;
  overflow-y: hidden;
  height: 90vh;
  align-items: center;
  padding: $spacing-md;
  scroll-snap-type: x mandatory;
}

.horizontal-scroll img {
  height: 60vh;
  object-fit: contain;
  scroll-snap-align: center;
  flex-shrink: 0;
}

