@use "variables.scss" as *;

.project {
  display: flex;
  flex-direction: column;
  height: 700px;

  @if $debug {
    border: $border-debug-red;
  }

  .slider-wrapper {
    flex: 1; // prend tout l'espace dispo sauf description
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    @if $debug {
      border: $border-debug-green;
    }

    .slider {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      padding: 1rem;
      height: 100%;
    }

    img {
      max-height: 100%;
      width: auto;
      object-fit: cover;
      // border-radius: 8px;
      margin-bottom: 30px;
      // box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

      @if $debug {
        border: $border-debug-orange;
      }
    }
  }

  .project-description {
    padding: 1rem;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    // background-color: white;
    // box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);

    @if $debug {
      border: $border-debug-blue;
    }
  }
}
