// debug
$debug: true;
$border-debug-red: 1px solid red; // border for debugging purposes
$border-debug-blue: 1px solid blue;
$border-debug-orange: 1px solid orange; // border for debugging purposes
$border-debug-green: 1px solid green; // border for debugging purposes

// common
$margin-top: 3.1rem; // default margin-top for sections
$margin-bottom: 3.1rem; // default margin-bottom for sections
$color-text: rgba(82, 82, 82, 0.6); // default text color

// header
$logo-width: 20rem; // width of the logo image

// menu
$blur-menu: 10px; // blur effect for menu
$menu-a-hover-color: #ff6347; // hover color for menu links

$text-menu: (
  text-decoration: none,
  color: $color-text,
  padding-inline: 0.9rem,
  transition: all 0.3s ease-in-out,
  font-weight: 500,
  font-size: 0.6rem,
  letter-spacing: 0.2em,
  text-transform: uppercase,
  white-space: nowrap,
  line-height: 1em,
);

// home
$max-width-default: 60vw; // default max-width for home section
$max-width-1920: 840px; // max-width for screens <= 1920px
$max-width-960: 670px; // max-width for screens <= 960px

$img-home: (
  width: 100%,
  height: auto,
  display: block,
  margin-inline: auto,
);

// about
$max-width-about-1920: 1010px; // max-width for about section on screens <= 1920px
$max-width-about-960: 760px; // max-width for about section on screens
$grid-gap-about: 2rem; // gap for grid in about section

$text-about: (
  width: 100%,
  font-weight: 400,
  font-style: normal,
  font-size: 13px,
  letter-spacing: 0.02em,
  line-height: 2.2em,
  text-transform: none,
  color: $color-text,
);
