---
import Project from "../layouts/Project.astro";
---

<Project>
  <!-- Slide 1: Image à gauche, texte à droite -->
  <div class="project-slide">
    <div class="image-col">
      <img src="/jench/projects/Caroubiers/HD-Caroubiers-JeanCharlesTomas-01.jpg" alt="Caroubiers Image 1" />
    </div>
    <div class="text-col">
      <p>Overlooking the bay of Saint-Jean-Cap-Ferrat, this refined, metropolitan abode is steeped in elemental materials and natural light. The restful interiors couple burnished metal with raw wood and a lush neutral palette for a look that is classic and composed, spirited yet serene..
november 2021 © Jérôme Galland</p>
    </div>
  </div>

  <!-- Slide 2: Texte à gauche, image à droite -->
  <div class="project-slide">
    <div class="text-col">
      <p>Nulla facilisi. Donec mattis libero eu cursus pharetra.</p>
    </div>
    <div class="image-col">
      <img src="/jench/projects/Caroubiers/HD-Caroubiers-JeanCharlesTomas-02.jpg" alt="Caroubiers Image 2" />
    </div>
  </div>
</Project>
