---
import Project from "../../layouts/Project.astro";
---

<Project>
  <img src="/jench/projects/caroubiers/Caroubiers-JeanCharlesTomas-07.jpg" />
  <img src="/jench/projects/caroubiers/Caroubiers-JeanCharlesTomas-09.jpg" />
  <img src="/jench/projects/caroubiers/Caroubiers-JeanCharlesTomas-16.jpg" />
  <img src="/jench/projects/caroubiers/HD-Caroubiers-JeanCharlesTomas-01.jpg" />
  <img src="/jench/projects/caroubiers/HD-Caroubiers-JeanCharlesTomas-02.jpg" />
  <img src="/jench/projects/caroubiers/HD-Caroubiers-JeanCharlesTomas-04.jpg" />
  <img src="/jench/projects/caroubiers/HD-Caroubiers-JeanCharlesTomas-10.jpg" />

  <div slot="description">
    <p>
      Overlooking the bay of Saint-Jean-Cap-Ferrat, this refined, metropolitan
      abode is steeped in elemental materials and natural light.
    </p>
    <p>
      The restful interiors couple burnished metal with raw wood and a lush
      neutral palette for a look that is classic and composed, spirited yet
      serene..
    </p>
    <p>november 2021</p>
    <p><a href="https://www.jeromegalland.fr/">@ Jérôme Galland</a></p>
  </div>
</Project>
