---
import "../styles/global.css";
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jean-Charles Tomas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="menu">
      <a href="#slide1">Accueil</a>
      <a href="#slide2">Portfolio</a>
      <a href="#slide3">À propos</a>
      <a href="#slide4">Contact</a>
    </nav>
    <slot />
  </body>
</html>

