---
import "../styles/main.scss";
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JeanCharlesTomas Interior Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/jench/">
          <img src="/jench/JC-TOMAS-LOGO-BASELINE.jpg" alt="JeanCharlesTomas Interior Design" />
        </a>
      </div>
      
    </header>
    <nav class="menu">
      <a href="/jench/">home</a>
      <a href="/jench/projects/">projects</a>
      <a href="/jench/press/">press</a>
      <a href="/jench/about/">about</a>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <div class="socials">
        <a href="https://www.instagram.com/jeancharlestomas/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.linkedin.com/in/jeancharlestomas/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </div>
    </footer>
  </body>
</html>