---
import "../styles/main.scss";
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JeanCharlesTomas Interior Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body class="fade-in">
    <header>
      <div class="logo">
        <a href="/jench/">
          <img src="/jench/JC-TOMAS-LOGO-BASELINE.jpg" alt="JeanCharlesTomas Interior Design" />
        </a>
      </div>
      
    </header>
    <nav class="menu fade-in">
      <a href="/jench/" data-astro-prefetch="load">home</a>
      <a href="/jench/projects/" data-astro-prefetch="load">projects</a>
      <a href="/jench/press/" data-astro-prefetch="load">press</a>
      <a href="/jench/about/" data-astro-prefetch="load">about</a>
    </nav>
    <!-- <main> -->
      <slot />
    <!-- </main> -->
    <footer>
      
    </footer>
  </body>
</html>