---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main class="project">
    <div class="slider-wrapper">
      <div class="slider">
        <slot />
      </div>
    </div>
    <div class="project-description">
      <slot name="description" />
    </div>
  </main>

  <script type="module" is:inline>
    const slider = document.querySelector(".slider-wrapper");
    if (slider) {
      slider.addEventListener(
        "wheel",
        (e) => {
          if (e.deltaY !== 0) {
            e.preventDefault();
            slider.scrollLeft += e.deltaY * 3;
          }
        },
        { passive: false }
      );
    }
  </script>
</BaseLayout>
